.btn,
.btn--link {
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  display: inline-block;
  line-height: 1.15;
  cursor: pointer;
  white-space: nowrap;
}

.btn--orange {
  color: white;
  background: var(--orange-gradient);
}
.btn--orange:hover {
  color: white;
  background: var(--orange-gradient-hover);
}

.btn--light {
  color: var(--orange);
  background: white;
}
.btn--light:hover {
  background: #f0f0f0;
}

.btn--dark {
  color: white;
  background: #242424;
}
.btn--dark:hover {
  background: #313131;
}

.btn--disabled {
  color: white;
  background: #636363;
}
.btn--disabled:hover {
  background: #707070;
  cursor: not-allowed;
}
