:root {
  --margin: 6px;
  --border-radius: 64px;
  --box-shadow: 0px 0px 20px -10px rgb(0, 0, 0, 0.4);
}

.sm\:tabs-row,
.md\:tabs-row,
.lg\:tabs-row,
.xl\:tabs-row {
  display: inline-flex;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--margin);
  box-shadow: var(--box-shadow);
}

.sm\:tabs-select,
.md\:tabs-select,
.lg\:tabs-select,
.xl\:tabs-select {
  display: none;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--margin);
}

.tab {
  text-align: center;
  position: relative;
  padding: 10px 36px;
  margin-right: var(--margin);
  border-radius: var(--border-radius);
}
.tab:last-child {
  margin: 0;
}
.tab:hover {
  cursor: pointer;
  /* color: #ffffff; */
  background: var(--orange-gradient-hover);
}

.selected {
  color: white;
  background: var(--orange-gradient) !important;
  border-radius: var(--border-radius);
}

.tab-content {
  margin-top: 24px;
}

@media (max-width: 640px) {
  .sm\:tabs-row {
    display: none;
  }

  .sm\:tabs-select {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .md\:tabs-row {
    display: none;
  }

  .md\:tabs-select {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .lg\:tabs-row {
    display: none;
  }

  .lg\:tabs-select {
    display: inline-block;
  }
}

@media (max-width: 1280px) {
  .xl\:tabs-row {
    display: none;
  }

  .xl\:tabs-select {
    display: inline-block;
  }
}
