.tabs {
  --margin: 6px;
  --border-radius: 64px;
  display: inline-flex;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--margin);
  box-shadow: 0px 0px 20px -10px rgb(0, 0, 0, 0.4);
}

.tab {
  text-align: center;
  position: relative;
  padding: 10px 36px;
  margin-right: var(--margin);
  border-radius: var(--border-radius);
}
.tab:last-child {
  margin: 0;
}
.tab:hover {
  cursor: pointer;
  /* color: #ffffff; */
  background: var(--orange-gradient-hover);
}

.active {
  color: white;
  background: var(--orange-gradient) !important;
  border-radius: var(--border-radius);
}

.tab-content {
  margin-top: 24px;
}
