.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams-header {
  margin-bottom: 16px;
}

.team-members {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.member-card {
  height: calc(100vw * 0.5625 / 2);
}

@media screen and (max-width: 860px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }

  .member-card {
    height: calc(100vw * 0.5625);
  }
}
