.lessons-pia-tabs {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 15vh;
}

.lessons-pia-title {
  background-color: darkblue;
  color: white;
}

.lessons-pia-tab-buttons {
  margin-bottom: 50px;
}

button {
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}

.lessons-pia-active {
  border-bottom: 2px solid orangered;
  color: black;
}

.lessons-pia-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lessons-pia-image {
  border: 10px solid transparent;
}

.lessons-pia-description {
  border: 10px solid transparent;
}
