---
import MainLayout from "../layouts/main.astro";
import EventLegend from "../site-components/_Builtin/EventLegend";
---

<MainLayout>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div>
      <h2 class="text-2xl font-semibold pt-10 mb-4">E-Club Calendar</h2>
      <EventLegend />
      <div class="bg-white rounded-md shadow overflow-hidden">
        <div class="w-full">
          <iframe
            class="w-full h-72 sm:h-96 md:h-[520px] lg:h-[640px]"
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FRome&showPrint=0&showCalendars=0&showTitle=0&src=Y18xOTc4YjQ3YzY2OWQ3MmI2MzgxYTViN2UxMDEwNDE4NTRhNTAwZjdjMmUwZmM3NTk0NzAzZDFkNTgwMTUwYTNhQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19lN2I4ZGZiOTg4OWIwMjQ5NWY0NmVlY2EwZTBiYTJjZGE2ZDU3N2JiZjhhZTNmODk3MGU0NmY5OWUwMjE3MWM2QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y183ZGE2NTNmZDk4NTYwOTA1N2Q0ZjM0MjUyYTQ1MzZlMjRhZWQxZTYzZWNkMDhhYjI4ZmU0Y2Y0MmZkZDJkYjlhQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039be5&color=%23f4511e&color=%2333b679"
            style="border:0"
            frameborder="0"
            scrolling="no"
            title="Google Calendar embed"></iframe>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
