/*----------------------------------------------
    Timeline "Basic" & General style
    timeline | date + text
----------------------------------------------*/

.timeline {
  --marker-line-color: #ccd5db;
  --marker-dot-color: var(--orange);
  line-height: 1.4em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

.timeline_item {
  padding-left: 40px;
  position: relative;
}
.timeline_item:last-child {
  padding-bottom: 0 !important;
}
.timeline_item:last-child .timeline_content {
  padding-bottom: 0;
}

.timeline_info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline_marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline_marker:before {
  background: var(--marker-dot-color);
  border: 3px solid transparent;
  border-radius: 100%;
  content: '';
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition:
    background 0.3s ease-in-out,
    border 0.3s ease-in-out;
}
.timeline_marker:after {
  content: '';
  width: 3px;
  background: var(--marker-line-color);
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline_item:last-child .timeline_marker:after {
  content: none;
}
.timeline_item:not(.period):hover .timeline_marker:before {
  background: transparent;
  border: 3px solid var(--marker-dot-color);
}

.timeline_content {
  padding-bottom: 40px;
}
.timeline_content p:last-child {
  margin-bottom: 0;
}

/*----------------------------------------------
    Period style: creates a break inside
    the timeline graphics for inserting
    a block of text
----------------------------------------------*/
.period {
  padding: 0;
}
.period .timeline_info {
  display: none;
}
.period .timeline_marker:before {
  background: transparent;
  content: '';
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid var(--marker-line-color);
  border-bottom: 3px solid var(--marker-line-color);
}
.period .timeline_marker:after {
  content: '';
  height: 32px;
  top: auto;
}
.period .timeline_content {
  padding: 40px 0 70px;
}
.period .timeline_title {
  margin: 0;
}

/*----------------------------------------------
    Timeline "Split" style
    date | timeline | text
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline_split .timeline,
  .timeline_centered .timeline {
    display: table;
  }
  .timeline_split .timeline_item,
  .timeline_centered .timeline_item {
    display: table-row;
    padding: 0;
  }
  .timeline_split .timeline_info,
  .timeline_centered .timeline_info,
  .timeline_split .timeline_marker,
  .timeline_centered .timeline_marker,
  .timeline_split .timeline_content,
  .timeline_centered .timeline_content,
  .timeline_split .period .timeline_info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline_split .timeline_marker,
  .timeline_centered .timeline_marker {
    position: relative;
  }
  .timeline_split .timeline_content,
  .timeline_centered .timeline_content {
    padding-left: 30px;
  }
  .timeline_split .timeline_info,
  .timeline_centered .timeline_info {
    padding-right: 30px;
  }
  .timeline_split .period .timeline_title,
  .timeline_centered .period .timeline_title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    Timeline "Centered" style
    text | timeline | text
    timeline is centererd with every
    event alternating sides
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline_centered,
  .timeline_centered .timeline_item,
  .timeline_centered .timeline_info,
  .timeline_centered .timeline_marker,
  .timeline_centered .timeline_content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline_centered .timeline_item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline_centered .timeline_marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline_centered .timeline_info,
  .timeline_centered .timeline_content {
    width: 50%;
  }
  .timeline_centered > .timeline_item:nth-child(odd) .timeline_info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline_centered > .timeline_item:nth-child(odd) .timeline_content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline_centered > .timeline_item:nth-child(even) .timeline_info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline_centered > .timeline_item:nth-child(even) .timeline_content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline_centered > .timeline_item.period .timeline_content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline_centered .timeline_item.period {
    padding: 50px 0 90px;
  }
  .timeline_centered .period .timeline_marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline_centered .period .timeline_title {
    left: auto;
  }
}

/*----------------------------------------------
    Marker outline
----------------------------------------------*/
.marker-outline .timeline_marker:before {
  background: transparent;
  border-color: var(--marker-dot-color);
}
.marker-outline .timeline_item:hover .timeline_marker:before {
  background: var(--marker-dot-color);
}
