.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
}

.carousel-right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  opacity: 15%;
}

.carousel-circles {
  color: black;
  opacity: 25%;
  cursor: pointer;
}

.carousel-circles:hover {
  opacity: 100%;
}

.carousel-left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  opacity: 15%;
}

.carousel-players {
  display: flex;
  position: absolute;
  bottom: 10%;
}

.carousel-pause-circle {
  float: left;
  margin-right: 10%;
}

.carousel-play-circle {
  float: right;
  margin-left: 10%;
}
