.join-us-bar {
  height: 156px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsb-call-to-action {
  color: white;
  font-weight: 700;
  font-size: 36px;
}

.join-us-bar.bg-white h1 {
  color: black;
}
