@import url("./../../common.css");

.join-card-container {
  background-color: white;
  flex-direction: column;
  display: flex ;
  height: 100%;
  width: 100%;
}

.join-card-text {
    flex-direction: column;
    flex: 3;
    display: flex;

}

.join-card-title {

  font-weight: bold;
  font-size: large;
    text-align: center;
    margin-top: 5%;
    
}

.join-card-button-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-card-button {
  color: black;
  font-weight: bold;
  background-color: var(--orange);
  padding: 4px 44px;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
}

.join-card-button:hover {
    opacity: 70%;
}

.join-card-closed-button {
    color: black;
    font-weight: bold;
    background-color: grey;
    padding: 4px 44px;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
}