.join-card-container {
  background-color: white;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: px;
}

.join-card-text-container {
  flex-direction: column;
  flex: 3;
  display: flex;
}

.join-card-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-top: 5%;
  color: #494b4d;
}

.join-card-list {
  line-height: 28px;
  margin-left: 12px;
  margin-right: 12px;
  color: #787c80;
}
