/*---------------------------
    CSS Reset
---------------------------*/
@import url("./assets/reset.css");

/*---------------------------
    Font
---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/*---------------------------
    Common
---------------------------*/
:root {
  --blue: #120068;
  --grey: #b2bfcc;
  --orange: #fc3f1a;
  --orange-gradient: linear-gradient(
    60deg,
    rgba(255, 96, 38, 1) 10%,
    rgba(252, 63, 26, 1) 90%
  );
  --orange-gradient-hover: linear-gradient(
    60deg,
    rgba(255, 121, 63, 1) 10%,
    rgba(252, 88, 51, 1) 90%
  );
  --text-color: #121212;
  --text-color-onorangehover: white;

  --button-border-radius: 12px;
  --button-padding: 10px 28px;
}

body {
  color: var(--text-color);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*---------------------------
    Tailwind CSS
---------------------------*/
@import url("./assets/tailwind.css");
