/*---------------------------
    CSS Reset
---------------------------*/
@import url("./assets/reset.css");

/*---------------------------
    Tailwind CSS
---------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------
    Common
---------------------------*/
:root {
  --blue: #120068;
  --grey: #b2bfcc;
  --orange: #fc3f1a;
}

body {
  color: #768390;
  font-family: "San Francisco", "Segoe UI", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-grey {
  background-color: var(--grey);
}

button {
  cursor: pointer;
  white-space: nowrap;
}
