.sponsor-column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */

.sponsor-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.sponsor-component {
  padding: 0px;
  margin: 0px;
}

.sponsor-table {
  margin: 0;
  text-align: center;
  content: "";
  display: flex;
  clear: both;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .sponsor-table {
    margin: 0;
    text-align: center;
    content: "";
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
  }
  .sponsor-column {
    margin: auto;
    float: left;
    width: 33.33%;
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: center;
  }
  .sponsor-column img {
    max-width: 300px;
    max-height: 130px;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .sponsor-table {
    margin: 0;
    text-align: center;
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }
  .sponsor-column {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .sponsor-column img {
    max-width: 300px;
    max-height: 130px;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .sponsor-column {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .sponsor-column img {
    max-width: 300px;
    max-height: 130px;
    margin: auto;
  }
}
