.sponsor-grid {
  --gridColumnCount: 4;
  --gridRowGap: 60px;
  display: grid;
  grid: auto/repeat(var(--gridColumnCount), 1fr);
  justify-items: center;
  align-items: center;
  row-gap: var(--gridRowGap);
}

.sponsor-logo {
  --userLogoMaxWidth: 160px;
  display: block;
  max-height: 80px;
}

@media (max-width: 672px) {
  .sponsor-grid {
    --gridColumnCount: 2;
  }
}

@media (max-width: 899px) {
  .sponsor-logo {
    max-width: var(--userLogoMaxWidth);
  }
}
